<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="css/animation.css" />

<head>
    <meta charset="UTF-8">
    <title>Oops! Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
    <h1>⚠️ Oops! Something went wrong.</h1>
    <p>The page you’re looking for doesn’t exist or an error occurred.</p>
    <a href="/employees/list" class="back-link">🔙 Back to Dashboard</a>
</div>
</body>
</html>
