<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to EMS</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">
</head>
<body>
<div class="home-container">
    <h1 class="home-heading">Employee Management System</h1>
    <p class="home-subtitle">Manage employees efficiently with ease & style</p>

    <div class="nav-buttons">
        <a href="/employees/list">View Employees</a>
        <a href="/employees/add">Add Employee</a>
        <a href="/employees/export/excel">Export to Excel</a>
        <a href="/employees/charts">View Charts</a>
    </div>
</div>
</body>
</html>
